#include <windows.h>
#pragma code_page(65001)

101 ICON "..\\KodiSeekPreviewGenerator.App\\Assets\\KodiSeekPreviewGenerator.ico"

1 VERSIONINFO
 FILEVERSION 1,1,0,0
 PRODUCTVERSION 1,1,0,0
 FILEFLAGSMASK 0x3fL
 FILEOS 0x40004L
 FILETYPE 0x1L
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "081604B0"
    BEGIN
      VALUE "CompanyName", "DigitalfoxPT\0"
      VALUE "FileDescription", "Kodi Seek Preview Generator\0"
      VALUE "FileVersion", "1.1.0\0"
      VALUE "InternalName", "Kodi.exe\0"
      VALUE "OriginalFilename", "Kodi.exe\0"
      VALUE "ProductName", "Kodi Seek Preview Generator\0"
      VALUE "ProductVersion", "1.1.0\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0816, 1200
  END
END
